@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
  font-family: 'Rajdhani', sans-serif;
}

.main-container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 6fr;
  height: 100vh;
  grid-template-areas:
  "nav header"
  "nav content"
}
header {
  grid-area: header;
  background-color: white;   
}
.heading-container {
  display: flex;
  flex-direction: column;
  margin: 0px 20px; 
}
.search-container {
  display: flex;
  align-items: center;
}
.icon-container {
  display: flex;
  align-items: center;
}
h3 {
  font-weight: 900;
}
.below-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  background-color: rgb(4, 135, 241);
  color: white;
  border-radius: 20px;
  border: none;
  padding: 8px 30px;
  margin: .5rem;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
.search {
  width: 70%;
  background-color: hsl(180, 4%, 85%);
  border-radius: 15px;
  border: none;
  font-size: 1.5rem;
  margin: 10px 200px 20px 20px;
}
input {
  padding: 5px;
}
.icon {  
  width: 50px;
  height: 50px;
  background-color: rgb(255, 196, 0);
  border-radius: 50%;
  padding: 2px;
  margin: 15px 20px 15px 20px;  
}
.large {
  width: 80px;
  height: 80px;
}
.name {
  font-weight: 900;
  min-width: 100px;
}

nav {
  grid-area: nav; 
  background-color: rgb(4, 135, 241);
  min-width: 230px;  
}
.nav-items, .dashboard {
  color: White;
  font-weight:700;  
  font-size: 1.5rem;  
  font-family: 'Rajdhani', sans-serif;
  margin: 40px 15px;
  list-style: none;  
}
.dashboard {
  font-size: 2rem;
  margin: 15px;
}
.dashboard-icon {  
  font-size: 2rem;
  padding: 10px;
  padding-bottom: 10px;  
}
.nav-items > li span {
  padding: 10px;   
}

.content-container {
  grid-area: content;
  display: grid;    
  grid-template-columns: 3fr 1fr;
  background-color: hsl(180, 4%, 85%);  
  padding: 20px;
  box-shadow: 4px 0px 4px 3px rgba(128, 128, 128, 0.527);  

}
.project-container {
  display: grid;  
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;  
  gap: 20px; 
}
.content-title {
  padding: 20px 0px 10px 0px;
}
.project-container > div {  
  border-left: 8px solid rgb(255, 166, 0);
  border-radius: 10px;  
  padding: 20px;
  margin-top: 10px;    
  background-color: white;  
  min-width: 250px;
  max-height: 250px; 
  box-shadow: 0px 4px 10px 1px rgba(128, 128, 128, 0.527);  
}
.icons-container {
  display: flex;
  justify-content: flex-end;  
}
.icons-container > span {
  padding: 1rem;  
}

.announcement, .trending {
  min-width: 200px;
  max-width: 400px;  
}
.announcement-container, .trending-container {
  margin-left: 20px;
  margin-top: 10px;
  padding-bottom: 30px;  
}
.announcement-title, .trending-title {
  margin-left: 20px;  
}

.announcement-container > div, .trending-container > div {
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0px 4px 10px 1px rgba(128, 128, 128, 0.527); 
}
.announcements, .trendings {
  padding: 20px; 
  background-color: white;
  max-width: 300px;
}
.announcements > div {
  padding: 10px 0px;  
  border-bottom: 1px solid rgba(0, 0, 0, 0.365); 
}
.announcements :nth-child(3) {
  border-bottom: 0px;
}
.announcements > div > h4, .announcements > div > p {
  font-size: .8rem;
}
.trendings > div > div {
  padding: 10px;
}
.trendings > div {
  display: flex;
  justify-content: center; 
  align-items: center;  
}
.trendings > div > img {  
  margin: 0px;
}
.dog {
  background-color: rgb(236, 55, 76);
}
.fox {
  background-color: rgb(55, 179, 236);
}
.tiger {
  background-color: rgb(212, 55, 236);
}

