@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: antiquewhite;
  font-family: 'Rajdhani', sans-serif;
}

.main-container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 6fr;
  height: 100vh;
  grid-template-areas:
  "nav header"
  "nav content"
}
header {
  grid-area: header;
  background-color: white;
  padding-left: 40px;
  display: flex;
  align-items: center; 
}
#search {
  width: 60%;
  background-color: hsl(180, 4%, 85%);
  border-radius: 15px;
  border: none;
  font-size: 1.5rem;
  margin: 10px 200px 20px 5px;
}
.ninja-icon {  
  max-width: 50px;
  background-color: rgb(255, 196, 0);
  border-radius: 50%;
  margin: 15px 20px 15px 20px;
}
.name {
  font-weight: 700;
}

nav {
  grid-area: nav; 
  background-color: rgb(4, 135, 241);  
}
.nav-items, .dashboard {
  color: White;
  font-weight:700;  
  font-size: 1.5rem;  
  font-family: 'Rajdhani', sans-serif;
  margin: 40px 15px;
  list-style: none;  
}
.dashboard {
  font-size: 2rem;
  margin: 15px;
}
.dashboard-icon {  
  font-size: 2rem;
  padding: 10px;
  padding-bottom: 10px;  
}
.nav-items > li span {
  padding: 10px;   
}

.content-container {
  grid-area: content;
  display: grid;  
  grid-template-columns: 3fr 1fr;
  background-color: hsl(180, 4%, 85%);
}
.project-container {
  display: grid;  
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;  
  gap: 20px;
  margin: 20px;    
}
.project-container > div {  
  border-left: 8px solid rgb(255, 166, 0);
  border-radius: 10px;  
  padding: 20px;    
  background-color: white;  
  min-width: 250px;
  max-height: 250px;
  /* border: 1px red solid; */ 
  
}
.icons-container {
  display: flex;
  justify-content: flex-end;  
}
p {
  padding-bottom: 2rem;
}
.icons-container > span {
  padding: 1rem;  
}


.social-container {
  margin: 20px;
}
.social-container > div {
  margin-bottom: 20px;
  border-radius: 6px;
}
.announcements { 
  height: 150px;   
  background-color: blueviolet;
}
.trending {
  height: 150px;
  background-color:brown;
}
